<p id="notice"><%= notice %></p>

<h1>Comic Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comic_books.each do |comic_book| %>
      <tr>
        <td><%= comic_book.name %></td>
        <td><%= comic_book.author %></td>
        <td><%= comic_book.description %></td>
        <td><%= link_to 'Show', comic_book %></td>
        <td><%= link_to 'Edit', edit_comic_book_path(comic_book) %></td>
        <td><%= link_to 'Destroy', comic_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comic Book', new_comic_book_path %>
